DOCUSAURUS_GITHUB_USERNAME=YOUR VALUE HERE 
DOCUSAURUS_CONTACT_EMAIL=YOUR EMAIL HERE 
DOCUSAURUS_LINKEDIN_URL=YOUR VALUE HERE 
DOCUSAURUS_SITE_TITLE=YOUR VALUE HERE 
DOCUSAURUS_SITE_TAGLINE=YOUR VALUE HERE 
DOCUSAURUS_GITHUB_URL=YOUR VALUE HERE 
DOCUSAURUS_URL=YOUR VALUE HERE 
DOCUSAURUS_BASE_URL=YOUR VALUE HERE 
